header {
    text-align: center;
    background-color: powderblue;
}

a {
    text-decoration: none;
}

span {
    font-family: serif;
    font-size: 3em;
    color: palevioletred;
}

li {
    font-size: 1.5em;
    color: slateblue
}

p {
    font-size: 1.5em;
    color: brown;
    text-indent: 2em;
}

nav li {
    font-size: 1.5em;
    float: left;
}

nav li a {
    display: block;
    color: rgb(240, 88, 194);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: lightskyblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}