div {
    width: 500px;
    border: solid brown 1px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: rgb(207, 10, 191);
    box-shadow: 15px 15px 5px rgba(101, 185, 233, 0.733);
    background-color: rgba(158, 245, 158, 0.603);
    border-radius: 20px;
}

body {
    background-image: url(../images/mikuHD.jpg)
}

label {
    width: 200px;
    display: inline-block;
}

select {
    margin: 20px;
}

input[type=submit],
input[type=reset] {
    background-color: #03f;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    width: 150px;
}