h2 {
    color: green;
    text-align: center;
}

h3 {
    color: orange;
    font-size: 1.5em;
}

span {
    font-weight: bold;
}

form {
    width: 500px;
    min-height: 500px;
    border: 1px solid red;
    padding: 20px;
    font-size: 1.3em;
    background-color: #eee;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../images/SNSDFullHD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=submit] {
    background-color: green;
    color: #fff;
    width: 480px;
    height: 60px;
    text-align: center;
    font-family: fantasy;
    font-size: 1.5em;
    margin: 10px auto;
}

input[type=text],
input[type=password],
input[type=email],
select {
    width: 450px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

textarea {
    width: 450px;
    height: 100px;
    font-size: 22px;
}