body {
    background-image: url(../images/mikuHD.jpg);
    background-size: cover;
}

form {
    font-weight: bold;
    text-align: center;
    width: 300px;
    height: 200px;
    margin: 100px auto;
    padding: 10px 10px 20px 10px;
    border: 1px solid green;
    background-color: lightyellow;
}

h2 {
    color: red;
    font-size: 2em;
    background-color: pink;
}

td {
    color: #03f;
    font-size: 1.5em;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: #000;
}