* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: think 1px solid #000;
    width: 100vw;
    height: 100vw;
    padding: 0px
}

.nav img {
    float: left;
    padding: 0.2vw 0vw 0 0.5vw;
}

.nav {
    width: 100vw;
    height: 3vw;
    background-color: #000;
}

.nav ul {
    float: right;
    list-style-type: none;
    padding: 0 5vw 0 0;
    margin: 0;
}

.nav ul li {
    float: left;
    position: relative;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 2.95vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    padding: 0 1vw;
}

.nav ul li a:hover {
    font-weight: bold;
}

.nav ul li ul {
    float: none;
    width: 5.8vw;
    position: absolute;
    background-color: #000;
    display: none;
}

.nav ul li ul {
    border-bottom: 1px solid #fff;
}

.nav ul li:hover ul {
    display: block;
}

.signup {
    background-color: #000;
    height: 2.5vw;
    width: 7vw;
    margin: 0.2vw 0.2vw;
    border: 1px solid #fff;
    border-radius: 20px;
}

.login {
    background-color: orangered;
    height: 2.5vw;
    width: 7vw;
    margin: 0.2vw 0.2vw;
    border: 1px solid #fff;
    border-radius: 20px;
}

button a {
    font-size: 1.3vw;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.main {
    background-color: white;
    width: 100vw;
    height: 40vw;
    padding: 1vw;
    margin: 0;
    float: left;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.main img {
    height: 100%;
    width: auto;
}

footer {
    clear: both;
    font-family: fantasy;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
    width: 100vw;
    height: 3vw;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
